<div class="container">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Tipo de Animal</label>
            <input type="text" class="form-control">
            <br />
            <a href="add.html" class="btn btn-primary pull-right">Salvar</a>

        </div>
    </div>
    <div id="list" class="row">

        <div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>Tipo de Animal</th>
                        <th>Data do Cadastro</th>
                        <th class="actions">Ações</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Gato</td>
                        <td>22/07/2020</td>
                        <td class="actions">
                            <a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
                            <a class="btn btn-danger btn-xs" href="#" data-toggle="modal" data-target="#delete-modal">Excluir</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Cachorro</td>
                        <td>22/07/2020</td>
                        <td class="actions">
                            <a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
                            <a class="btn btn-danger btn-xs" href="#" data-toggle="modal" data-target="#delete-modal">Excluir</a>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>