<div class="masthead">
    <div class="container d-flex flex-column">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Agendamentos Marcados
                    </div>
                    <div class="card-body">
                        <a href="@Url.Action("Index","AgendamentoFuncionario")" class="btn btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Cadastro de Veterinário
                    </div>
                    <div class="card-body">

                        <a href="@Url.Action("Index","CadastroVeterinario")" class="btn btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

