<div class="masthead">
    <div class="container d-flex flex-column">
        <div id="list" class="row">
            <div class="table-responsive col-md-12">
                <table class="table table-striped" cellspacing="0" cellpadding="0" align="center">
                    <thead>
                        <tr></tr>
                        <tr>
                            <th>
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="..." alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Cadastro de Veterinário</h5>
                                        <table align="center">
                                            <tr>
                                                <th><a href="@Url.Action("Index","CadastroVeterinario")" class="btn btn-primary">Cadastrar</a></th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="..." alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Agendamentos</h5>
                                        <table align="center">
                                            <tr>
                                                <th><a href="@Url.Action("Index","AgendamentoFuncionario")" class="btn btn-primary">Agendamentos</a></th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
                <br />
            </div>
        </div>
    </div>
</div>

